:root {
  --color-black: #111111;
  --color-black-70: #111111b3;
  --color-black-60: #11111199;
  --color-orange: #fd9222;
  --color-violet: #1e1823;
  --color-beige: #fcf1e0;
  --color-white: #fafafa;
  --color-gray: #4c4c4c;
  --color-white-2: #ffffff;
  --color-white2-70: #ffffffb3;
}

/*--------DEFAULTS---------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

/* a {
  text-decoration: none;
  color: currentColor;
} */

/* ul {
  list-style: none;
  list-style-type: none;
} */

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** ------------------HEADER----------------- */

.header-logo {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

/* .header-menu-link:is(:hover, :focus) {
  color: #fd9222;
} */

/** ------------------HERO----------------- */

.hero {
  background-color: var(--color-black-60);
}
.hero-title {
  color: var(--color-white-2);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-btn {
  color: var(--color-white-2);
  background-color: var(--color-orange);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}
.hero-link-btn {
  color: var(--color-white-2);
  font-size: 14px;
  font-weight: 600;
}
.hero-down-btn {
  color: var(--color-white-2);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

/* ------------------ADVANTAGES----------------- */

.advantages {
  background-color: var(--color-violet);
}
.advantages-list {
}
.advantages-item {
}
.advantages-subtitle {
  color: var(--color-white-2);
  font-size: 18px;
  font-weight: 600;
}
.advantages-item-text {
  color: var(--color-white2-70);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ------------------TASTE----------------- */
.taste {
}
.taste-title {
  color: var(--color-black);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.taste-span {
  color: var(--color-orange);
}
.taste-text {
  color: var(--color-black);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.taste-list {
}
.taste-item:nth-child(4n + 1) {
  background-color: var(--color-orange);
}
.taste-item:nth-child(4n + 3) {
  background-color: var(--color-violet);
}
.taste-item-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.taste-item:nth-child(even) > .taste-item-text {
  color: var(--color-black);
}
.taste-item:nth-child(odd) > .taste-item-text {
  color: var(--color-white-2);
}

/* ------------------RECIEPT----------------- */
.reciept {
}
.reciept-title {
  color: var(--color-black);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.reciept-title-span {
  color: var(--color-orange);
}
.reciept-img {
  max-width: 600px;
}
.reciept-text {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.reciept-list {
}
.reciept-item {
}
.reciept-item-text {
  color: var(--color-black);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* ----------------PRODUCTS--------------- */
.products {
}
.products-title {
  color: var(--color-black);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.products-title-span {
  color: var(--color-orange);
}
.products-list {
}
.products-item {
}
.products-item-title {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-item-text {
  color: var(--color-black-70);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.products-item-span {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 600;
}

/* ----------------SELLERS--------------- */
.sellers {
}
.sellers-title {
  color: var(--color-black);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.sellers-title-span {
  color: var(--color-orange);
}
.sellers-list {
}
.sellers-item {
}
.sellers-item-title {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ----------------CHOCOLATE--------------- */
.chocolate {
}
.chocolate-title {
  color: var(--color-black);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03;
  text-transform: uppercase;
}
.chocolate-title-span {
  color: var(--color-orange);
}
.chocolate-list {
}
.chocolate-item {
}
.chocolate-item-title {
  color: var(--color-black);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.chocolate-item-text {
  color: var(--color-black-70);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.chocolate-button {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
}
/* ----------------FOOTER--------------- */
.footer {
  background-color: var(--color-violet);
}
.footer-slogan {
  color: var(--color-white-2);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
.footer-slogan-span {
  color: var(--color-orange);
}

.footer-text-social {
  color: var(--color-white-2);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.footer-social-list {
}
.footer-social-item {
}
.footer-social-link {
}

.footer-text-contact {
  color: var(--color-white-2);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  color: var(--color-white-2);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
  color: var(--color-white-2);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
